.feature{
    position:relative;
    width: 100%;
    padding: 45px 0 0 0;
}
.feature_img{
    overflow: hidden;
    border-radius: 20px;
}
.feature_img img{
    width: 100%;
    transition: .3s;
}
.feature .feature_img .col-6,
.feature .feature_img .col-12 {
    padding: 0;
    overflow: hidden;
}
.feature_img img:hover{
    transform: scale(1.1);
    transition: transform 4s cubic-bezier(0.25, 0.45, 0.45, 0.95); /* for photo style*/
    cursor: pointer;
}

/*ditto secton */
.ditto {
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    margin-left: 490px;
    margin-top: -650px;
  }
  
  .cotto {
    width: 27vw;
    padding: 20px 10px;
  }
  
  .cotto-item {
    width: 250px;
  }

  .cotto-item img {
    width: 50px;
  }

/* .feature_item {
    width: 100%;
    margin-bottom: 45px;
}

.feature_item img {
    width: 50px;
} */
